<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 版权所有 (c) 2015 。 李倍存 （iPso）。
  ~ 所有者对该文件所包含的代码的正确性、执行效率等任何方面不作任何保证。
  ~ 所有个人和组织均可不受约束地将该文件所包含的代码用于非商业用途。若需要将其用于商业软件的开发，请首先联系所有者以取得许可。
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"> <!-- bean definitions here -->
    <!--<aop:aspectj-autoproxy/>-->
    <bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator"/>
    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator"/>
    <!--<bean id="defaultLogger" class="org.apache.log4j.Logger">-->
    <!--<constructor-arg value="默认记录仪"/>-->
    <!--</bean>-->

    <bean  id="SpringApplicationContextUtil" class="org.ipso.lbc.common.aop.SpringApplicationContextUtil"/>
    <bean id="aopLogging" class="org.ipso.lbc.common.aop.AopTraceMethodsAndThrows"/>
    <bean id="aopFunctionLogging" class="org.ipso.lbc.common.aop.AopTraceFunctional"/>
    <bean class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="aopLogging"/>
        <property name="patterns">
            <list>
                <value>org.ipso.lbc.*</value>
                <value>.*</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="aopFunctionLogging"/>
        <property name="patterns">
            <list>
                <value>org.ipso.lbc.lpu.prediction.core.predictor.excelling.*.predict*</value>
                <value>org.ipso.lbc.lpu.prediction.action.*.*</value>
            </list>
        </property>
    </bean>
    <!--<bean class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">-->
    <!--<property name="advice" ref="aopLogging"/>-->
    <!--<property name="patterns">-->
    <!--<list>-->
    <!--<value>.*</value>-->
    <!--</list>-->
    <!--</property>-->
    <!--</bean>-->
    <!--<aop:config proxy-target-class="true">-->
    <!--</aop:config>-->
</beans>