<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 版权所有 (c) 2015 。 李倍存 （iPso）。
  ~ 所有者对该文件所包含的代码的正确性、执行效率等任何方面不作任何保证。
  ~ 所有个人和组织均可不受约束地将该文件所包含的代码用于非商业用途。若需要将其用于商业软件的开发，请首先联系所有者以取得许可。
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login.jsp"/>
        <property name="successUrl" value="/success.jsp"/>
        <property name="filters">
            <util:map>
                <entry key="authc" value-ref="myFilter1"/>
            </util:map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /logout = logout
                /login.jsp = "authc"
                /adm_home.jsp = authc,roles[adm]
                /index.jsp = authc,roles[user]
                / = authc
                /LPU =authc
            </value>
        </property>
    </bean>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myJdbcRealm"/>
        <property name="cacheManager" ref="cacheManager"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>
    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="globalSessionTimeout" value="3600000"/>
        <property name="sessionIdCookieEnabled" value="false"/>
        <property name="sessionDAO" ref="sessionDAO"/>
    </bean>
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
    <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.MemorySessionDAO"/>
    <bean id="myIniRealm" class="org.apache.shiro.realm.text.IniRealm">
        <property name="name" value="myRealm"/>
        <property name="resourcePath" value="D:/Apache Software Foundation/Tomcat 7.0/webapps/LPU/CONFIG/users.ini"/>
    </bean>
    <bean id="myJdbcRealm" class="org.apache.shiro.realm.jdbc.JdbcRealm">
        <property name="name" value="JdbcRealm"/>
        <property name="dataSource" ref="accessDataSource"/>
    </bean>
    <bean id="accessDataSource" class="net.ucanaccess.jdbc.UcanaccessDataSource">
        <property name="accessPath" value="/D:\Apache Software Foundation\Tomcat 7.0\webapps\LPU\DATA\load.mdb"/>
        <property name="user" value=""/>
        <property name="password" value=""/>
    </bean>
    <bean id="myFilter1" class="org.ipso.lbc.common.shiro.MyFormAuthenticationFilter">
        <property name="loginUrl" value="/login.jsp"/>
        <property name="successUrl" value="/success.jsp"/>
    </bean>
</beans>